<!DOCTYPE html>
<html>
    <head>
        <title>
            @ViewBag.Title
        </title>
        <script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>